In [73]:
from datetime import timedelta
import numpy as np
import pandas as pd
import datetime

In [93]:
df = pd.read_csv('data/ninja_weather_52.1885_-2.0276_uncorrected.csv',skiprows=[0,1,2],index_col=[0],parse_dates=True)
df1 = pd.read_csv('data/ninja_wind_52.1885_-2.0276_corrected.csv',skiprows=[0,1,2],index_col=[0],parse_dates=True)
wind = df9['wind_speed']
df = df.join(wind)
df2 = df.resample('0.25H').mean()
dataframe = df2.interpolate()
dataframe['clearness_index'] = dataframe['radiation_surface']/dataframe['radiation_toa']

In [123]:
dataframe

,temperature,precipitation,snowfall,snow_mass,air_density,radiation_surface,radiation_toa,cloud_cover,wind_speed,clearness_index
time,,,,,,,,,,
2019-01-01 00:00:00,6.28900,0.01200,0.0,0.0,1.26500,0.0,0.0,0.76700,7.504,NaN
2019-01-01 00:15:00,6.27225,0.01100,0.0,0.0,1.26500,0.0,0.0,0.74775,7.453,NaN
2019-01-01 00:30:00,6.25550,0.01000,0.0,0.0,1.26500,0.0,0.0,0.72850,7.402,NaN
2019-01-01 00:45:00,6.23875,0.00900,0.0,0.0,1.26500,0.0,0.0,0.70925,7.351,NaN
2019-01-01 01:00:00,6.22200,0.00800,0.0,0.0,1.26500,0.0,0.0,0.69000,7.300,NaN
...,...,...,...,...,...,...,...,...,...,...
2019-12-31 22:00:00,6.18200,0.01500,0.0,0.0,1.26500,0.0,0.0,0.80000,6.470,NaN
2019-12-31 22:15:00,6.07850,0.01525,0.0,0.0,1.26525,0.0,0.0,0.81300,6.475,NaN
2019-12-31 22:30:00,5.97500,0.01550,0.0,0.0,1.26550,0.0,0.0,0.82600,6.480,NaN
2019-12-31 22:45:00,5.87150,0.01575,0.0,0.0,1.26575,0.0,0.0,0.83900,6.485,NaN
2019-12-31 23:00:00,5.76800,0.01600,0.0,0.0,1.26600,0.0,0.0,0.85200,6.490,NaN

In [124]:
dataframe['temperature']

time
2019-01-01 00:00:00    6.28900
2019-01-01 00:15:00    6.27225
2019-01-01 00:30:00    6.25550
2019-01-01 00:45:00    6.23875
2019-01-01 01:00:00    6.22200
                        ...
2019-12-31 22:00:00    6.18200
2019-12-31 22:15:00    6.07850
2019-12-31 22:30:00    5.97500
2019-12-31 22:45:00    5.87150
2019-12-31 23:00:00    5.76800
Freq: 15T, Name: temperature, Length: 35037, dtype: float64

In [126]:
dataframe['temperature'][1]

6.27225